<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{{ siteName }}</title>
  <meta name="description">
  <meta name="author">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="/assets/img/favicon.png">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:1,300,400,400italic,500,600,700,900|Montserrat:1,300,400,400italic,500,600,700,900'>
  <link rel='stylesheet' href='/assets/css/global.css'>
  <link rel='stylesheet' href='/assets/css_robo/structure.css'>
  <link rel='stylesheet' href='/assets/css_robo/sciencecentre.css'>
  <link rel='stylesheet' href='/assets/css_robo/custom.css'>
</head>

<body class="home page-template-default page color-custom style-simple button-flat layout-full-width if-zoom if-border-hide no-content-padding hide-love header-creative header-open minimalist-header-no ab-hide subheader-title-left menu-link-color footer-copy-center mobile-tb-center mobile-side-slide mobile-mini-mr-ll tablet-sticky mobile-header-mini mobile-sticky be-reg-211">
  <div id="Header_creative">
    <a href="#" class="creative-menu-toggle"><i class="icon-menu-fine"></i></a>
    <div class="creative-wrapper">

      <div id="Top_bar">
        <div class="one clearfix">
          <div class="top_bar_left">
            <div class="logo">
              <a id="logo" href="/" title="{{ siteName }}">
                <img class="logo-main scale-with-grid" src="/assets/img/logo.png" alt="{{ siteName }} logo" >
              </a>
            </div>
            <div class="menu_wrapper">
              <nav id="menu">
                <ul id="menu-menu" class="menu menu-main">
                  <li class="current-menu-item">
                    <a href="/"><span>Home</span></a>
                  </li>


                </ul>
              </nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="Wrapper">
    <div id="Header_wrapper">
      <header id="Header"></header>
    </div>
    <div id="Content">
      <div class="content_wrapper clearfix">
        <div class="sections_group">
          <div class="entry-content">
            <div class="section mcb-section mcb-section-410679c95 no-margin-v dark equal-height-wrap bg-contain" style="padding-top:200px; padding-bottom:20px; background-color:#100e27; background-image:url(/assets/images/science-home-main-b.jpg); background-repeat:no-repeat; background-position:center top;">
              <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap mcb-wrap-ad01e7ed3 one-second valign-bottom clearfix">
                  <div class="mcb-wrap-inner">
                    <div class="column mcb-column mcb-item-d0086a004 one column_column">
                      <div class="column_attr clearfix">
                        <h5>MAIN HALL - 30 05 2019</h5>
                      </div>
                    </div>
                    <div class="column mcb-column mcb-item-7726650f7 one column_column">
                      <div class="column_attr clearfix">
                        <h1>LIGHT
                          <br> COLOR
                          <br> SHOW
                        </h1>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="wrap mcb-wrap mcb-wrap-453b7d1d5 one-fourth valign-bottom clearfix">
                  <div class="mcb-wrap-inner">
                    <div class="column mcb-column mcb-item-97ebce067 one column_column">
                      <div class="column_attr clearfix">
                        <h2>COLORS SMOKE
                          <br> SYSTEM
                          <br> LIGHT
                          <br> MUSIC
                          <br> SHOW
                          <br> ROOM
                          <br> ART
                          <br> TECH
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="wrap mcb-wrap mcb-wrap-3f5b6bd0b one-fourth valign-bottom bg-cover-ultrawide clearfix">
                  <div class="mcb-wrap-inner">
                    <div class="column mcb-column mcb-item-61dc255b0 one column_button">
                      <a class="button button_size_3 button_js" href="#" style="background-color:#2d1aff!important;color:#fff;"><span class="button_label">View details</span></a>
                    </div>
                    <div class="column mcb-column mcb-item-9124abf1e one column_divider">
                      <hr class="no_line" style="margin: 0 auto 14px;">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="section mcb-section mcb-section-18db16cfe no-margin-v dark" style="padding-top:75px; padding-bottom:50px; background-color:#100e27">
              <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap mcb-wrap-7073169d1 one valign-top clearfix">
                  <div class="mcb-wrap-inner">
                    <div class="column mcb-column mcb-item-f7bb1a1bf one column_divider">
                      <hr style="margin: 0 auto 1px;">
                    </div>
                    <div class="column mcb-column mcb-item-f3b5490a8 one column_divider">
                      <hr class="no_line" style="margin: 0 auto 75px;">
                    </div>
                  </div>
                </div>
                <div class="wrap mcb-wrap mcb-wrap-a5ffc14f1 one-third valign-top clearfix">
                  <div class="mcb-wrap-inner">
                    <div class="column mcb-column mcb-item-742c69dae one column_column">
                      <div class="column_attr clearfix">
                        <h3>The show
                          <br> starts in:</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wrap mcb-wrap mcb-wrap-9c125c388 two-third valign-top clearfix">
                    <div class="mcb-wrap-inner">
                      <div class="column mcb-column mcb-item-7bc405c35 one column_countdown">
                        <div class="downcount clearfix" data-date="12/30/2020 12:00:00" data-offset="0">
                          <div class="column column_quick_fact one-third">
                            <div class="quick_fact">
                              <div data-anim-type="zoomIn" class="animate zoomIn">
                                <div class="number-wrapper">
                                  <div class="number days">
                                    00
                                  </div>
                                </div>
                                <h3 class="title">days</h3>
                                <hr class="hr_narrow">
                              </div>
                            </div>
                          </div>
                          <div class="column column_quick_fact one-third">
                            <div class="quick_fact">
                              <div data-anim-type="zoomIn" class="animate zoomIn">
                                <div class="number-wrapper">
                                  <div class="number hours">
                                    00
                                  </div>
                                </div>
                                <h3 class="title">hours</h3>
                                <hr class="hr_narrow">
                              </div>
                            </div>
                          </div>
                          <div class="column column_quick_fact one-third">
                            <div class="quick_fact">
                              <div data-anim-type="zoomIn" class="animate zoomIn">
                                <div class="number-wrapper">
                                  <div class="number minutes">
                                    00
                                  </div>
                                </div>
                                <h3 class="title">minutes</h3>
                                <hr class="hr_narrow">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wrap mcb-wrap mcb-wrap-1366a991e one valign-top clearfix">
                    <div class="mcb-wrap-inner">
                      <div class="column mcb-column mcb-item-e3edc8a70 one column_divider">
                        <hr class="no_line" style="margin: 0 auto 50px;">
                      </div>
                      <div class="column mcb-column mcb-item-c050063af one column_divider">
                        <hr style="margin: 0 auto 1px;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <footer id="Footer" class="clearfix">
        <div class="widgets_wrapper" style="padding:70px 0;">
          <div class="container">
            <div class="column one-third">
              <aside class="widget_text widget widget_custom_html">
                <div class="textwidget custom-html-widget">
                  <h4> Lorem ipsum
                    <br> dolor sit amet</h4>
                    <hr class="no_line" style="margin: 0 auto 10px;">
                  </div>
                </aside>
              </div>
              <div class="column one-third">
                <aside class="widget_text widget widget_custom_html">
                  <h4>Useful links</h4>
                  <div class="textwidget custom-html-widget">
                    <hr class="no_line" style="margin: 0 auto 20px;">
                    <ul class="list-footer">
                      <li>
                        <i class="icon-dot themecolor"></i><a href="#">Lorem ipsum</a>
                      </li>

                    </ul>
                  </div>
                </aside>
              </div>
              <div class="column one-third">
                <aside class="widget_text widget widget_custom_html">
                  <h4>Our mission</h4>
                  <div class="textwidget custom-html-widget">
                    <hr class="no_line" style="margin: 0 auto 20px;">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    </p><a href="#"><b>Read more</b></a>
                  </div>
                </aside>
              </div>
            </div>
          </div>
          <div class="footer_copy">
            <div class="container">
              <div class="column one">
                <div class="copyright">
                  &copy; {{ "now"|date('Y') }} <a href="/">{{ siteName }}</a> by <a href="https://www.iconicline.com/" target="_blank">Iconicline</a>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <div id="Side_slide" class="right dark" data-width="250">
        <div class="close-wrapper">
          <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
        </div>
        <div class="extras">
          <div class="extras-wrapper"></div>
        </div>
        <div class="menu_wrapper"></div>
      </div>
      <div id="body_overlay"></div>
      <script src="/assets/js/jquery-2.1.4.min.js"></script>
      <script src="/assets/js/mfn.menu.js"></script>
      <script src="/assets/js/jquery.plugins.js"></script>
      <script src="/assets/js/jquery.jplayer.min.js"></script>
      <script src="/assets/js/animations/animations.js"></script>
      <script src="/assets/js/translate3d.js"></script>
      <script src="/assets/js/scripts.js"></script>
    </body>
    </html>
